<div class="navbar navbar-default">
    <div class="navbar-container">
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small>
                    <i class="logo"></i>
                </small>
            </a><!-- /.brand -->
        </div>
        <!-- /.navbar-header -->

        <div class="navbar-header pull-left">
            <div class="news">
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge">5</span>
                </a>
                {{#each item in namespace.localeNames}}
                  <a {{action 'setLang' item}}>{{unbound item}}</a>
                {{/each}}
            </div>
        </div>

        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav bmp-nav">
                <li>
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                        <img class="nav-user-photo" src="assets/avatars/user.jpg" alt="Jason's Photo">
								<span class="user-info">
									{{t 'home.title'}}--{{session.currentUser.username}}
								</span>

                        <i class="fa fa-angle-down btn-caret"></i>
                    </a>

                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="#">
                                <i class="icon-cog"></i>
                                Settings
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon-user"></i>
                                Profil
                            </a>
                        </li>

                        <li class="divider"></li>

                        <li>
                            <a {{ action 'logout' }}>
                                <i class="icon-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.bmp-nav -->
        </div>
        <!-- /.navbar-header -->
    </div>
    <!-- /.container -->
</div>
<div class="main-container">
<div class="main-container-inner">
<a class="menu-toggler" href="#">
    <span class="menu-text"></span>
</a>

{{partial 'sidebar'}}

<div class="main-content">
<div class="breadcrumbs">
    <ul class='breadcrumb'>
        <li>
            <i class="fa fa-home home-icon"></i>
        </li>
      {{#each bread in breadcrumbs}}
          <li>{{unbound bread.name}}</li>{{/each}}
    </ul>
    <!-- .breadcrumb -->
</div>

<div class="page-content">
    {{outlet}}
</div>
<!-- /.page-content -->
</div>
<!-- /.main-content -->
</div>
<!-- /.main-container--inner -->
</div>
