<div class="modal" style="display:block;">
    <div class="modal-backdrop fade in" style="height: 100%;"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" {{action "closeModal"}} class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">操作对话框</h4>
            </div>
            <div class="modal-body">
               {{yield}}
            </div>
            <div class="modal-footer">
                <button type="button" {{action "closeModal"}} class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" {{action "ensure"}} class="btn btn-primary">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{outlet 'modal'}}