<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive panel-body widget-main padding-0">
            <div class="dataTables_wrapper">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="dataTables_filter" id="sample-table-2_filter">
                            <button class="btn btn-white">
                                <i class="icon-plus-sign purple align-top bigger-125"></i> 人员角色</button>
                        </div>
                    </div>
                </div>
                <table id="sample-table-2" class="table table-striped table-bordered tab-th">
                    <thead>
                    <tr>
                        <th></th>
                      {{#each item in header}}
                          <th align="center">{{item.name}}</th>
                      {{/each}}
                    </tr>
                    </thead>

                    <tbody>
                      {{#each item in controller}}
                          <tr>
                              <td align="center">{{item.name}}</td>
                              {{#each relation in item.relationTypes}}
                                {{#if relation}}
                                    <td align="center">
                                        {{#if relation.editable}}
                                            <button class="btn btn-xs btn-success" {{action 'clearRelationship' relation context}}>
                                                <i class="icon-ok bigger-120"></i>
                                            </button>
                                        {{else}}
                                            <button class="btn btn-xs">
                                                <i class="icon-ok bigger-120"></i>
                                            </button>
                                        {{/if}}
                                    </td>
                                {{else}}
                                    <td align="center"></td>
                                {{/if}}
                              {{/each}}
                          </tr>
                      {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
