<div style="padding:16px 12px;">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="dataTables_filter">
                <button class="btn btn-white" {{action "edit"}}>
                    <i class="icon-pencil purple align-top bigger-125"></i>编辑信息
                </button>
            </h4>
        </div>
    </div>
    <div class="row">
      {{! every each for model constructor columns}}




        <div class="col-xs-6" style="padding:0px;">
            <div class="profile-user-info profile-user-info-striped" style="margin:0 0 0 12px;">

                <div class="profile-info-row">
                    <div class="profile-info-name col-xs-5" style="float:none;"> 用户名 </div>
                    <div class="profile-info-value">
                      <span class="editable" id="username">
                        {{nickname}}
                      </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name col-xs-5" style="float:none;"> 密码 </div>
                    <div class="profile-info-value">
                      <span class="editable" id="username">
                        {{password}}
                      </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name col-xs-5" style="float:none;"> 账号 </div>
                    <div class="profile-info-value">
                      <span class="editable" id="username">
                        {{username}}
                      </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name col-xs-5" style="float:none;"> 性别 </div>
                    <div class="profile-info-value">
                      <span class="editable" id="username">
                        {{sex}}
                      </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name col-xs-5" style="float:none;"> 邮箱 </div>
                    <div class="profile-info-value">
                      <span class="editable" id="username">
                        {{email}}
                      </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name col-xs-5" style="float:none;"> 手机号码 </div>
                    <div class="profile-info-value">
                      <span class="editable" id="username">
                        {{phone}}
                      </span>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-xs-6" style="padding:0px;">
            <div class="profile-user-info profile-user-info-striped" style="margin:0 0 0 12px;">

                <div class="profile-info-row">
                    <div class="profile-info-name col-xs-5" style="float:none;"> 办公室电话 </div>
                    <div class="profile-info-value">
                        <span class="editable" id="username">
                          {{telephone}}
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name col-xs-5" style="float:none;"> 状态 </div>
                    <div class="profile-info-value">
                        <span class="editable" id="username">
                          {{status}}
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name col-xs-5" style="float:none;"> 家庭电话 </div>
                    <div class="profile-info-value">
                        <span class="editable" id="username">
                          {{homeTel}}
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name col-xs-5" style="float:none;"> 家庭地址 </div>
                    <div class="profile-info-value">
                        <span class="editable" id="username">
                          {{address}}
                        </span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name col-xs-5" style="float:none;"> 描述 </div>
                    <div class="profile-info-value">
                        <span class="editable" id="username">
                          {{description}}
                        </span>
                    </div>
                </div>

            </div>
        </div>

        <!--<div class="col-xs-12">-->
        <!--<div class="clearfix form-actions">-->
        <!--<div class="col-md-offset-9 col-md-3">-->
        <!--<button class="btn" type="reset">-->
        <!--<i class="icon-undo bigger-110"></i>-->
        <!--取消-->
        <!--</button>-->

        <!--<button class="btn btn-info" type="button" style="margin-left:10px;">-->
        <!--<i class="icon-ok bigger-110"></i>-->
        <!--确定-->
        <!--</button>-->
        <!--&nbsp; &nbsp;                          </div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>