<div style="padding: 16px 12px;">
<div class="row">
    <div class="col-sm-6">
        {{outlet 'user'}}
    </div>
    <div class="col-sm-6">
      {{outlet 'position'}}
      {{outlet 'department'}}
      {{outlet 'org'}}
      {{outlet 'group'}}
    </div>
</div>
</div>
